/* 
    Author: Viswaas L Prabunathan;
    Theme: Doordash_Clone;
    Version: 1.0;
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.text-center{
    text-align: center;

}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 80vw;
}

.tbl-30{
    width: 30%;
}
table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-primary:hover{
    background-color: #3742fa;

}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #2ed573;

}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.btn-secondary:hover{
    background-color: #ff4757;

}
/* Menu */
.nav{
    border-bottom: 1px solid grey;
}
.nav ul{
    list-style-type: none;
}

.nav ul li{
    display: inline;
    padding: 1%;
}

.nav ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff4757;
}

.nav ul li a:hover{
    color: #ff4757;
}

/* Main */
.main{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.col-4{
    width: 16%;
    background-color: white;
    margin: 2%;
    padding: 2%;
    float: left;
}

/* Footer */
.footer{
    background-color: #ff4757;
    color: white;
}